<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../script.js"></script>

    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <div class="wrapper" style="display: block;">
        <div class="header">
            <h1>Autonomous Car</h1>
        </div>
        <div class="main">
            <main id="continut">
                <%- body %>
            </main>

            <footer>
                &copy;Dima Raul Andrei. 2021 . Autonomous Car
            </footer>

        </div>
    </div>
    <div id="video-box" />
    <script type="text/javascript" src="WSAvcPlayer.js" />
    <script type="text/javascript">
        //initialize the player, if useWorker: true, than you must have `/Decoder.js` availible at the root of the domain.
        var wsavc = new WSAvcPlayer.default({ useWorker: false });
        //append the canvas to the box element, you can style the box element and canvas.
        document.getElementById('video-box').appendChild(wsavc.AvcPlayer.canvas)
        //connect to the websocket
        wsavc.connect("ws://" + document.location.host + ":3333");
    </script>

</body>

</html>